build/
build-debug/
Makefile
Makefile.in
acinclude.m4
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
*.lo
*.la
autom4te.cache/
m4/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/*.dox.h
src/qc_*.cpp
src/ql_*.cpp
src/QC_*.cpp

# temporary doc files
docs/*.tag
docs/doxyfile
docs/mainpage.dox
docs/sybase/
docs/qlib/Doxyfile.*
docs/qlib/*.dox.h

# Debian package build products
/obj-*/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper.log
/debian/qore-freetds-module/
/debian/qore-freetds-module-doc/
/debian/qore-freetds-module-dbgsym/
/debian/tmp/
