/** @mainpage Qore sybase Module

    Copyright 2026 Qore Technologies, s.r.o.

    @tableofcontents

    @section sybaseintro Introduction to the sybase and freetds Modules

    Both the \c sybase and \c freetds modules are built from the same sources; this documentation will describe both
    modules.  They share most of their functionality, but there are differences, both depending on the client
    libraries used, and according to the database server connected.

    The \c sybase and \c freetds modules provide drivers to Qore's DBI system, allowing Qore programs to access Sybase
    (both modules) databases and Microsoft SQL Server (the \c freetds module) through the
    @ref Qore::SQL::Datasource "Datasource", @ref Qore::SQL::DatasourcePool "DatasourcePool", and
    @ref Qore::SQL::SQLStatement "SQLStatement" classes.

    Both modules are released under a choice of two licenses:
    - <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a>
    - MIT (see COPYING.MIT in the source distribution for more information)
    .
    Both modules are tagged as such in the modules' headers (meaning they can be loaded unconditionally regardless of
    how the %Qore library was initialized).

    Example of creating a connection with the \c sybase driver:
    @code{.py}
Datasource db("sybase:user/pass@dbname(utf8):host:4100");
    @endcode

    Example of creating a connection with the \c freetds driver:
    @code{.py}
Datasource db("freetds:user/pass@dbname(utf8):host:1433");
    @endcode

    This driver supports the following DBI capabilities:
    - \c DBI_CAP_TIME_ZONE_SUPPORT
    - \c DBI_CAP_TRANSACTION_MANAGEMENT
    - \c DBI_CAP_CHARSET_SUPPORT
    - \c DBI_CAP_LOB_SUPPORT
    - \c DBI_CAP_STORED_PROCEDURES
    - \c DBI_CAP_BIND_BY_VALUE
    - \c DBI_CAP_HAS_EXECRAW
    - \c DBI_CAP_HAS_STATEMENT
    - \c DBI_CAP_HAS_SELECT_ROW
    - \c DBI_CAP_HAS_NUMBER_SUPPORT
    - \c DBI_CAP_HAS_OPTION_SUPPORT
    - \c DBI_CAP_SERVER_TIME_ZONE
    - \c DBI_CAP_AUTORECONNECT
    - \c DBI_CAP_HAS_BULK_LOAD (\c freetds with Microsoft SQL Server only, when built with compatible %Qore and
      FreeTDS APIs)

    The driver employs efficient binary bindings for all non-text data types.

    The @ref Qore::SQL::Datasource::getServerVersion() "Datasource::getServerVersion()" and
    @ref Qore::SQL::Datasource::getClientVersion() "Datasource::getClientVersion()" methods are implemented for both drivers.
    @ref Qore::SQL::Datasource::getServerVersion() "Datasource::getServerVersion()" returns a string giving server
    information similar to the following:
    @verbatim
Adaptive Server Enterprise/15.0.1/EBF 13827/P/x86_64/Enterprise Linux/ase1501/2379/64-bit/OPT/Mon Aug 14 22:15:25 2006
    @endverbatim

    Or for freetds with MS SQL Server:
    @verbatim
Microsoft SQL Server 2014 (RTM-CU14) (KB3158271) - 12.0.2569.0 (X64)
	May 27 2016 15:06:08
	Copyright (c) Microsoft Corporation
	Express Edition (64-bit) on Windows NT 6.3 <X64> (Build 10586: )
    @endverbatim

    The @ref Qore::SQL::Datasource::getClientVersion() "Datasource::getClientVersion()" returns a string giving
    version information.  For example, for freetds:
    @verbatim
freetds v1.0 (threadsafe, default tds version=auto)
    @endverbatim

Or for Sybase:
    @verbatim
Sybase Client-Library/15.0/P-EBF13571 ESD #4/DRV.15.0.1/Linux x86_64/Linux 2.4.21-27.ELsmp x86_64/BUILD1500-073/OPT/Mon May 15 03:18:58 2006
    @endverbatim

    @subsection sybase_statements SQL Statement Execution

    This driver allows all types of statements to be executed through
    @ref Qore::SQL::Datasource::select() "Datasource::select()",
    @ref Qore::SQL::Datasource::selectRows() "Datasource::selectRows()", and
    @ref Qore::SQL::Datasource::exec() "Datasource::exec()" (and related methods), however rules about
    @ref Qore::SQL::Datasource "Datasource" locking or @ref Qore::SQL::DatasourcePool "DatasourcePool" allocations
    still apply as usual. If a stored procedure is executed with
    @ref Qore::SQL::Datasource::selectRows() "Datasource::selectRows()", then any query results returned will be
    returned in either a hash format (if only one row was returned), or as a list of hashes (for multiple rows).

    The TDS protocol only supports a single active query on a connection at one time, therefore there can be only one
    @ref Qore::SQL::SQLStatement "SQLStatement" object active at any one time on a single server connection; if
    additional SQL commands or a new @ref Qore::SQL::SQLStatement "SQLStatement" is executed while another
    @ref Qore::SQL::SQLStatement "SQLStatement" is active, the existing statement will be canceled before starting the
    new statement.

    When built against a %Qore library with columnar DBI support,
    \c Datasource::selectColumnar() and \c SQLStatement::fetchColumnar() return \c Qore::SQL::ColumnarResult
    objects for column-oriented batch processing. Integer, floating-point, and safe
    \c DECIMAL / \c NUMERIC result columns are returned as dense \c buffer<int64>, \c buffer<float64>, and
    \c buffer<decimal128> columns, with nullable buffer variants when SQL \c NULL values are present; other values
    are returned as typed column lists.

    Unlike many other Qore DBI drivers, this driver allows and can return results from multiple select statements
    issued with a single call. Additionally, it's possible for a stored procedure to return output paramters as well
    as one or more result sets from select statements. The output format for commands like this differs from standard
    Qore DBI formats as follows:

    |!Query Type|!Result Format
    |Multiple Selects|A hash is returned with a key giving the results from each select statement. The key names \
        have the format <tt>query</tt><i>#</i>, where \a # is an increasing integer starting with 0.
    |Return Parameters Only|A hash is returned with keys giving the output parameter values, as long as the \
        placeholder format (ex: \c :name) was used for the output parameters, otherwise the key names in the output \
        will be an increasing integer starting with 0 (i.e. 0, 1, etc). If a count of affected rows is available, \
        it's returned in the \c rowcount key.
    |Return Parameters and Result Set(s)|As above, but with an addition key: \c query, giving the result set. If \
        multiple result sets are returned, then the \c query key will be a hash with \c query# keys giving the \
        results for each query in order.

    @section sybasedocumentation Documentation

    - @anchor sybaseoptions @subpage sybaseoptionsguide
    - @anchor freetds_native_bulk_load @subpage sybasefreetds_native_bulk_loadguide
    - @anchor sybase_timezone @subpage sybase_timezoneguide
    - @anchor sybasebind @subpage sybasebindguide
    - @anchor sybasestoredprocs @subpage sybasestoredprocsguide
    - @anchor sybasereleasenotes @subpage sybasereleasenotesguide

    @section sybasetrans Transaction Management

    Transaction management is supported by enabling chained transaction mode on each connection. In autocommit mode in the @ref Qore::SQL::Datasource class, Qore executes a commit after every request to the server.

    The transaction isolation level is left at the default, 1, \c "read committed", which is the default for all Qore drivers as well.

*/
